<launch>

    <param name="/explore_costmap/costmap_topic" value="/map" />
    <param name="/explore_lite/exploration_strategy" value="frontier-based" />
    <param name="/explore_lite/map_topic" value="/map" /> 
    <param name="/explore_lite/min_frontier_size" value="0.2"/> 
    <param name="/explore_lite/progress_timeout" value="15.0"/> 
    <param name="/explore_lite/planner_frequency" value="0.3"/>
    
    <include file="/opt/ros/noetic/share/turtlebot3_slam/launch/turtlebot3_cartographer.launch" />
    <include file="/opt/ros/noetic/share/explore_lite/launch/explore.launch" />
    <node pkg="turtlebot_explore_env" type="custom_planner.py" name="cmd_interrupt_node" output="screen" />		

</launch>
